/*soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9b59b6;
  color: aliceblue;
  /* background: url("../img/fundo.jpg") teal; */
  /* background-size: auto 100vh; */
  /* background-size: cover;
  background-repeat: repeat; */
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  height: 100vh;
}

/* se a tela pelo menos 400px */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* se a tela pelo menos 600px */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.menu {
  background-color: aliceblue;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.menu a:hover,
.menu a:active {
  background-color: #9b59b6;
  color: aliceblue;
  transition: background-color 500ms, color 500ms;
}

/* a {
  color: tomato;
} */

/* a:hover {
  text-decoration: underline;
} */

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: ease 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
.site-title,
.site-subtitle {
  color: aliceblue;
  text-align: center;
}

.site-title {
  font-family: "Anton", sans-serif;
  font-size: 4em;
}

.site-subtitle {
  font-family: "Press Start 2P", cursive;
  font-style: italic;
  line-height: 1.8em;
}

.sobre,
.contato,
.portfolio {
  min-height: 100vh;
  padding: 2em;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  color: aliceblue;
  font-family: "Shadows Into Light", cursive;
  font-size: 2em;
  margin-bottom: 1.5em;
}

.sobre p {
  color: aliceblue;
  text-indent: 1.4em;
  margin: 1.4em;
  text-align: justify;
}

.sobre a {
  color: aliceblue;
}

.sobre a:hover {
  background-color: aliceblue;
  color: #9b59b6;
}

.sobre .avatar {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin-left: 2em;
}

@media (min-width: 600px) {
  .sobre .avatar {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    float: right;
  }
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.flip-card {
  height: 180px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-back {
  align-items: center;
  color: tomato;
  background-color: honeydew;
  display: flex;
  justify-content: center;
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}

/* .img-portfolio:hover {
  transform: scale(1.2) rotate(15deg);
} */

.contato .icons {
  text-align: center;
}

.contato a {
  color: aliceblue;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0 0 10px gray;
}
